h1 {
    strong ; collor:rgb(183, 0, 255);
    }

img {
    
    background-image:marilia.jpeg;
    padding-left:200px;
}
 body{
      class
 img{
    background- image marilia1.jpeg
    padding: left 400px;
 }
 


 }
