h1 {
    strong ; collor:rgb(183, 0, 255);
    }
   

img {    
    background-image:marilia.jpeg;
    padding-left:200px;
    width: 200px;
    height: 200px;
    margin:0 0 0 50px;
 }
}
 
      

 


 }